<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BookManagerPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:666/books" binding="basicHttpBinding"
                bindingConfiguration="BookManagerPortBinding" contract="BooksService.BookManager"
                name="BookManagerPort" />
        </client>
    </system.serviceModel>
    <system.web> 
        <httpRuntime maxRequestLength="2147483647" /> 
    </system.web> 
</configuration>